<div class="row">
    <div class="columns">
        <ul class="entity-list small-block-grid-2 medium-block-grid-4 large-block-grid-6">
            <li ng-repeat="entity in vm.entities track by entity._id">
                <a ui-sref="{{::vm.entityDetailState}}({id: entity._id, parentId: vm.parentId})">
                    <div class="entity-name">{{entity.name}}</div>
                    <img ng-src="{{::vm.imageSrc}}"/>
                </a>
                <a ng-click="vm.remove(entity._id)" class="button tiny">
                    <img zf-iconic="" icon="ban" size="small" class="iconic-color-secondary">
                </a>
            </li>
        </ul>
    </div>
</div>