<div class="small-12 medium-10 large-7 medium-centered large-centered columns">
    <div class="login-box">
        <div class="row">
                <form ng-submit="vm.login()">
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="text" name="username" ng-model="vm.userName" placeholder="Username" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="password" name="password" ng-model="vm.password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 large-centered columns">
                            <input type="submit" class="button expand" value="Log In"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>